#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

    label {
      display: flex;
      flex-direction: column;
      text-align: center;
      
      input {
        margin-top: 10px;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: none;
      }
    }

    button {
      padding: 10px 20px;
      background-color: #be1010;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

    }
  }

  section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    width: 100%;
    max-width: 1200px;
  }
}

article {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100%;
    height: 335px;
    border-radius: 8px;
    order: 1;
  }

  &:hover img {
    transform: scale(110%);
  }

  h3 {
    order: 2;
    margin: 15px 0 5px 0;
    font-size: 1rem;
  }

  p {
    order: 3;
    margin: 0;
    color: #666060;
    font-size: 1rem;
  }
}
/* Copy pasted samme jeg har i artikkel-kortet mitt. Tok bort hover & cursor, da det ikke har noe poeng her. */
.movieinfo{
  display: flex;
  flex-direction: column;
  background: #1a1a1a;

  img {
    width: 100%;
    height: 335px;
    border-radius: 8px;
    order: 1;
  }

  h3 {
    order: 2;
    margin: 15px 0 5px 0;
    font-size: 1rem;
  }

  p {
    order: 3;
    margin: 0;
    color: #f3f1f1;
    font-size: 1rem;
  }
}